@font-face{
    font-family: 'trends';
    src: url("/DrugsTerrace/font/trends.eot")
}
*{
	padding: 0;
	margin: 0;
}
.layui-header.header{
    left: 210px;
    background-color: #102D51;
    border: 1px solid #3BCFF6;
    right: 15px;
    top: 15px;
    position: absolute;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;
    color: #3DD7FD;
    font-size: 24px;
    font-family: 'trends';

}
.layui-side.aside{
    width: 180px;
    z-index: 10000;
    top: 15px;
    left: 15px;
    position: absolute;
    background-color: #000b3a;
    padding: 1px;
}
.layui-nav.nav{
    background-color: #102D51;
    width: 180px;
}

.nav-head{
    height: 120px;
    background-color: #102D51;
    border: 1px solid #3BCFF6;
    width: 180px;
    position: relative;
    box-sizing: border-box;
}

.layui-nav-item.nav-item{
    background-color: #102D51;
    border: 1px solid #3BCFF6;
    width: auto;
    margin-top: 15px;
}
.layui-nav-item.nav-item a{
    line-height: 58px;
    height: 58px;
}

.layui-nav-item.nav-item a:hover{
    background-color: rgb(13, 42, 78);
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover{
    background-color: rgb(9, 48, 95) !important;
    text-shadow: 0px 0px 17px #00b9ff;
    behavior: url(css/PIE.htc);
}
.layui-body.main{
    /* background-color: #102D51; */
    border: 1px solid #3BCFF6;
    background-color: #102d51;
    left: 210px;
    right: 15px;
    top: 80px;
    bottom: 15px;
}
.nav-avatar{
    width: 67px;
    height: 67px;
    position: absolute;
    top: 28px;
    left: 17px;
    border-radius: 50%;
    behavior: url(css/PIE.htc);
    background-color: #fff;
}
.nav-text{
    color: #fff;
}
.nav-name{
    position: absolute;
    top: 37px;
    left: 102px;
}
.nav-logout{
    position: absolute;
    top: 72px;
    left: 102px;
}
.layadmin-iframe{
    width: 100%;
    height: 100%;
}
.layui-body{
    overflow: hidden;
}
.layui-nav-item.nav-item.layui-this.layui-this{
    border: 1px solid transparent;
}
.layui-nav-item.nav-item.layui-this.layui-this a{
    background: url('/DrugsTerrace/images/select-bg.png') repeat;   
    background-size: 100% 100%;
    
}
.layui-side-scroll.scroll{
    width: 180px;
}