<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>智慧戒毒</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}">
    <title></title>
</head>

<body>
<!--自适应背景--去除chroma中的显示问题-->
<div class="login_body">
    <img src="images/login.png" th:src="@{/images/login.png}" height="100%" width="100%"/>
</div>
<!-- 标题 -->
<div class="login_title header">
    <img src="images/logo_img.png" th:src="@{/images/logo_img.png}">
</div>
<!-- 登录框 -->
<div class="login">
    <div class="login_ct">
        <p style="color: red" th:text="${user}" th:if="${not #strings.isEmpty(user)}"></p>
        <!--账号行-->
        <div class="login_bb1">
            <div class="login_logo name_logo"></div>
            <input class="login_name" name="user" placeholder="请输入账号(、数字组成)" type="text" onkeyup="this.value=this.value.replace(/[^\w_]/g,'');" autocomplete="on" />
            <!--<input class="login_name" placeholder="请输入账号" type="text" />-->
        </div>

        <!--密码行-->
        <div class="login_bb2">
            <div class="login_logo pwd_logo"></div>
            <input class="login_pwd" name="pwd" type="password"  onkeyup="this.value=this.value.replace(/[^\w_]/g,'');" />
            <!--<input class="login_pwd" type="password" />-->
        </div>
    </div>
    <a class="but" th:href="@{/success}">登录</a>
</div>
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="js/login.js" th:src="@{/js/login.js}" type="text/javascript" charset="utf-8"></script>
</body>

</html>